@import '../../variables/Variables.scss';

.sobre {
    color: $cinzaFonte;
    padding: 4.5rem 4.5rem;
}

.intro {
    text-align: left;
}

h2 {
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    padding-bottom: 3rem;
    color: $laranja;
}

strong {
    color: $azulStrong;
}

.link-DH {
    text-decoration: none;
    color: $rosaStrong;
    &:hover {
        text-decoration: none;
        color: $laranja;
    }
}

.btn-cv {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: $azulBtn;
    margin-top: 3rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    &:hover {
        background-color: $rosa;
    }
}
.btn-cv > a {
    text-decoration: none;
    color: #000000;
    &:hover {
        color: #000000;
    }
}

@media (max-width: 900px) {
    .skills {
        display: none;
    }
}

@media (min-width: 900px) {
    .sobre {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    .intro {
        width: 92vw;
    }
    h2 {
        font-size: 2.5rem;
    }
    .skills {
        color: $cinzaFonte;
    }
    .conhecimentos, .aprendendo {
        background-color: $laranja;
        color: $backgroundCinza;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        border: $backgroundCinza 1px solid;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

    }
    .skills li {
        font-size: 1rem;
    }
    h5 {
        color: $azulStrong;
        text-transform: uppercase;
        padding-bottom: 1rem;
        font-weight: bold;
    }
}