@import '../../variables/Variables.scss';

.sobre {
    color: $cinzaFonte;
    padding: 4.5rem 4.5rem;
    text-align: justify;
}

h2 {
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: left;
    font-size: 2rem;
    padding-bottom: 1.5rem;
    color: $laranja;
}

strong {
    color: $azulStrong;
}

.link-DH {
    text-decoration: none;
    color: $rosaStrong;
    &:hover {
        text-decoration: none;
        color: $laranja;
    }
}

@media (max-width: 900px) {
    .skills {
        display: none;
    }
}

@media (min-width: 900px) {
    #sobre {
        display: flex;
        flex-direction: row;
    }
    .sobre {
        width: 50vw;
    }
    .skills {
        color: $cinzaFonte;
    }

    .btn-cv {
        padding: 1rem;
        border: none;
        border-radius: 5px;
        background-color: $rosaStrong;
        margin-right: 1rem;
        &:hover {
            background-color: $laranja;
        }
    }
    .btn-cv > a {
        text-decoration: none;
        color: #000000;
        &:hover {
            color: #000000;
        }
    }
}

