@import '../../variables/Variables.scss';

#contato {
    color: $cinzaFonte;
    padding: 4rem 4rem;
    text-align: justify;
}

.form-control:focus {
    background-color: $rosa;
}

.btn-form {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $azulBtn;
    margin-right: 1rem;
    &:hover {
        background-color: $rosa;
    }
}

@media (min-width: 900px) {
    .contato {
        max-width: 800px;
    }
}