$rosa: #ffd0d5;
$laranja: #ffbc4b;
$cinzaFonte: #575b57;
$azulStrong: #0b749d;
$rosaStrong: #ffabb3;
$azulClaro: #74bedc;
$linkFooter: #e8eddf;
$backgroundCinza: #333533;
$fonteFooter: rgb(138, 134, 134);
$azulBtn: #a4c9d8;
