@import '../../variables/Variables.scss';

.footer {
    background-color: $backgroundCinza;
    color: $fonteFooter;
    padding: 3rem 4rem;
    text-align: center;
}

.footer-links1 {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
    padding: 1rem 1rem;
    gap: .8rem;
    align-self: center;
}

.icones-footer {
    width: 4em;
}

.footer-links1 a {
    text-decoration: none;
    color: $linkFooter;
    &:hover {
        text-decoration: none;
        color: $azulClaro;
    }
}

.copyright {
    margin-top: 1rem;
}

@media (min-width: 510px) {
    .footer-links1 {
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;
    }
}